@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.emotion-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.emotion-modal-wrapper {
  position: relative;
  display: flex;
  background: #FFFCF0;
  padding: 55px 45px;
  border-radius: 12px;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.emotion-modal-wrapper .title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #412020;
  font-weight: 600;
  text-align: center;
  padding-bottom: 25px;
}
.emotion-modal-wrapper .close-button{
  position: absolute;
  right: 15px;
  top: 15px;
}
.emotion-modal-wrapper .title .left-arrow {
  position: absolute;
  left: 10%;
  top: 12%; 
}
.emotion-modal-wrapper .title .right-arrow {
  position: absolute;
  right: 10%;
  top: 12%;
}
.text{
  width: 100%;
  box-sizing: border-box; /*padding 값 포함 width 유지*/
  background-color: rgb(255, 255, 255, 0.8);
  padding: 35px 20px 20px 20px;
  font-size: 22px;
  font-family: "Poor Story" !important;
  color: #675346;
  border-radius: 30px;
  margin-bottom: 10px;
}
.emotion-chart{
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poor Story" !important;
  font-size: 20px;
  color: #675346;
  font-weight: 600;
}