.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-wrapper {
  position: relative;
  display: flex;
  background: white;
  padding: 55px 55px;
  border-radius: 12px;
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-wrapper .title {
  font-size: 28px;
  color: #675346;
  font-weight: 600;
  text-align: center;
  padding-bottom: 15px;
}
.modal-wrapper img{
  position: absolute;
  right: 15px;
  top: 15px;
}
.input-wrapper input{
  width: 96%;
  height: 35px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.modal-wrapper .submit-button{
  width: 100%;
  height: 39px;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: #675346;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 600;
}
.modal-wrapper .join-button{
  position: absolute;
  width: 40%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #675346;
  bottom: 40px;
  right: 10px;
}
