.story-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.story-modal-wrapper {
  position: relative;
  display: flex;
  background: #FFFCF0;
  padding: 55px 45px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.story-modal-wrapper .title {
  font-size: 28px;
  color: #675346;
  font-weight: 600;
  text-align: center;
}
.story-modal-wrapper .close-button{
  position: absolute;
  right: 15px;
  top: 15px;
}
.story-modal-wrapper .title .left-arrow {
  position: absolute;
  left: 35%;
  top: 8.5%; 
}
.story-modal-wrapper .title .right-arrow {
  position: absolute;
  right: 35%;
  top: 8.5%;
}
.sketchbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 40px auto;
  background: #fffdf5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  padding: 60px 30px 30px;
  font-family:"Poor Story" !important;
  line-height: 38px;
}

/* 위쪽 스프링 */
.sketchbook::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 20px;

  /* 반복된 원형으로 스프링 표현 */
  background-image: radial-gradient(circle, #555 6px, transparent 7px);
  background-size: 28px 20px; /* 스프링 간격 */
  background-repeat: repeat-x;
}
.sketchbook img {
  position: static;
  max-width: 90%;
  max-height: 300px;
  object-fit: contain; /* 비율 유지하며 축소 */
  margin: 0 auto;
}
.sketchbook p {
  font-size: 20px;
  color: #333;
  text-align: center;
}