@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.report-background-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.report-background-container .footer-text{
  margin-top: 80px;
  font-family: "Poor Story" !important;
  font-size: 18px;
  font-weight: 400;
  color: #675346;
}
.report-background-container button{
  width: 210px;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  background-color: #675346;
  color: white;
  border-radius: 20px;
  padding-top: 4px;
  padding-bottom: 6px; /*window 기준 css*/
  margin-bottom: 40px;
}

.report-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.report-container .title{
  font-size: 30px;
  color: #412020;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 45px;
}
.report-container .diary{
  width: 100%;
  box-sizing: border-box; /*padding 값 포함 width 유지*/
  background-color: rgb(255, 255, 255, 0.5);
  padding: 0px 30px;
  font-size: 25px;
  font-family: "Poor Story" !important;
  color: #675346;
  border-radius: 30px;
  margin-bottom: 40px;
}
.diary .created-at{
  padding: 30px 0px;
}
.diary .report-text{
  padding-bottom: 30px;
}
.report-container .report-emotion-chart{
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poor Story" !important;
  font-size: 20px;
  color: #675346;
  font-weight: 600;
}
.right-button{
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.right-button span{
  font-size: 16px;
  color: #675346;
  font-weight: 600;
}
.right-button button{
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #675346;
  border-radius: 20px;
  border: none;
}