.home-container{
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets//background.png');
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
}
.left-button{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  bottom: 20px;
  padding-left: 20px;
  
}
.left-button span{
  font-size: 20px;
  color: #675346;
  font-weight: 600;
}
.left-button button{
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: #675346;
  border-radius: 20px;
  border: none;
}

.right-button{
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.right-button span{
  font-size: 16px;
  color: #675346;
  font-weight: 600;
}
.right-button button{
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #675346;
  border-radius: 20px;
  border: none;
}