@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.my-story-background-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.my-story-background-container .footer-text{
  margin-top: 80px;
  font-family: "Poor Story" !important;
  font-size: 18px;
  font-weight: 400;
  color: #675346;
}
.my-story-background-container button{
  width: 210px;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  background-color: #675346;
  color: white;
  border-radius: 20px;
  padding-top: 4px;
  margin-bottom: 40px;
}

.my-story-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.my-story-container .title{
  font-size: 30px;
  color: #412020;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 45px;
}
.my-story-container .diary{
  width: 90%;
  box-sizing: border-box; /*padding 값 포함 width 유지*/
  background-color: rgb(255, 255, 255, 0.5);
  padding: 0px 30px;
  font-size: 25px;
  font-family: "Poor Story" !important;
  color: #675346;
  border-radius: 30px;
  margin-bottom: 40px;
}
.diary .my-story-text{
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-sketchbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 648px;
  height: auto;
  margin: 40px auto;
  background: #fffdf5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  padding: 60px 30px 30px;
  font-family:"Poor Story" !important;
  line-height: 38px;
}

/* 위쪽 스프링 */
.my-sketchbook::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 20px;

  /* 반복된 원형으로 스프링 표현 */
  background-image: radial-gradient(circle, #555 6px, transparent 7px);
  background-size: 28px 20px; /* 스프링 간격 */
  background-repeat: repeat-x;
}
.my-sketchbook img {
  position: static;
  max-width: 90%;
  max-height: 430px;
  object-fit: contain; /* 비율 유지하며 축소 */
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.my-sketchbook p {
  font-size: 20px;
  color: #333;
  text-align: center;
}
.right-button{
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.right-button span{
  font-size: 16px;
  color: #675346;
  font-weight: 600;
}
.right-button button{
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #675346;
  border-radius: 20px;
  border: none;
}